/* Style errors */
#setting-error-settings_updated {
    margin: 10px 15px;
}

.mx1 {
    margin: 10px;
}

.mb2 {
    margin-bottom: 20px;
}

.display-flex.bg-lb-margin .wp-picker-container {
    margin-left: 0;
}

tr td .ast-admin-title-api {
    font-size: 14px;
    font-weight: bolder;
    margin: 25px 5px 2px;
    display: inline-block;
    float: left;
}

span.description {
    margin: 0 25px 0 0;
}

.atl-clearfix {
    clear: both;
}

.display-flex,
.wp-picker-container {
    display: flex;
    align-items: center;
}

.wp-picker-container .wp-color-result.button {
    margin: 0;
}

/* Atelier Scroll Top Css  */
.atl-enpag-container {
    width: 70%;
}

#scroll-top-alt {
    display: none;
}

.scroll-top-alt {
    font-family: 'Dancing Script', cursive !important;
    font-size: 90%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    transition: 600ms;
    z-index: 9999;
}

.atlst-list-posts label,
.atlst-list-pages label {
    /*width: 20%;*/
    display: block;
}

.title-box {
    position: relative;
    display: flex;
    align-items: center;
}

.atl_st_disabled_link {
    width: 100%;
    font-size: 14px;
    font-weight: lighter;
    color: #000000;
    display: flex;
    align-items: center;
    margin: 4px 0;
}

.atl_st_disabled_link span {
    margin: 0 0 0 4px;
}

.atl_st_disabled_link input[type="checkbox"], .atl_st_disabled_link input[type="radio"] {
    margin: 0;
}

.atl_st_disabled_link:hover {
    color: #777777;
}

.atlst-show-pp {
    max-height: 600px;
    max-width: 600px;
    overflow: auto;
}

/* Clouds Info */
.cloud-info-icons,
.cloud-info-ptb,
.cloud-info-plr,
.cloud-info-ic,
.cloud-info-ssh,
.cloud-info-bsc,
.cloud-info-bg,
.cloud-info-cc,
.cloud-info-allp,
.cloud-info-page,
.cloud-info-post{
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    opacity: 0;
    box-shadow: 2px 2px 3px #666666;
    margin-left: 10px;
    position: relative;
}

.atl-ptb-container:hover .cloud-info-ptb,
.atl-plr-container:hover .cloud-info-plr,
.atl-si-container:hover .cloud-info-icons,
.atl-ic-container:hover .cloud-info-ic,
.atl-ssh-container:hover .cloud-info-ssh,
.atl-bsc-container:hover .cloud-info-bsc,
.atl-bg-container:hover .cloud-info-bg,
.atl-cc-container:hover .cloud-info-cc,
.atl-post-container:hover .title-box .cloud-info-post,
.atl-page-container:hover .title-box .cloud-info-page,
.atl-enpag-container:hover .title-box .cloud-info-allp{
    transition: 1200ms;
    opacity: 1;
}

.cloud-info-icons::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 10px 5px 0;
    border-color: transparent #ffffff transparent transparent;
    position: absolute;
    margin-left: -20px;
    margin-top: 12px;
}

.cloud-info-ptb::before,
.cloud-info-plr::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 10px 5px 0;
    border-color: transparent #ffffff transparent transparent;
    position: absolute;
    margin-left: -20px;
    margin-top: 32px;
}

.cloud-info-page::before,
.cloud-info-post::before,
.cloud-info-allp::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 10px 5px 0;
    border-color: transparent #ffffff transparent transparent;
    position: absolute;
    margin-left: -20px;
}

.cloud-info-page::before,
.cloud-info-post::before {
    margin-top: 15px;
}

.cloud-info-allp::before {
    margin-top: 35px;
}


.cloud-info-ic::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 10px 5px 0;
    border-color: transparent #ffffff transparent transparent;
    position: absolute;
    margin-left: -20px;
    margin-top: 32px;
}

.cloud-info-ssh::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 10px 5px 0;
    border-color: transparent #ffffff transparent transparent;
    position: absolute;
    margin-left: -20px;
    margin-top: 10px;
}

.cloud-info-bsc::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 10px 5px 0;
    border-color: transparent #ffffff transparent transparent;
    position: absolute;
    margin-left: -20px;
    margin-top: 20px;
}


.cloud-info-bg::before,
.cloud-info-cc::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 10px 5px 0;
    border-color: transparent #ffffff transparent transparent;
    position: absolute;
    margin-left: -20px;
    margin-top: 10px;
}
.scroll-top-alt:hover {
    transition: 600ms;
}

.scroll-top-alt span::before {
    margin-bottom: 8px;
}

/* Header admin page */
.header-adm {
    display: flex;
    align-items: center;
    margin-left: -20px;
    background-color: #ffffff;
}

.hr-head {
    margin: 0;
}

/* Logo Atelier admin page */
.atl-stt-logo figure {
    width: 120px;
    height: 60px;
    display: flex;
    align-items: center;
}

.atl-stt-logo figure img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.icon-ast {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-ast label span {
    display: block;
    text-align: center;
    padding: 8px;
    font-size: 24px;
}

.icon-ast label input {
    display: block;
}

.form-table input.tog,
.form-table input[type="radio"] {
    margin: auto;
}


.bg-lb-margin .wp-picker-container {
    margin-left: 20px;
}


@media (max-width: 1200px) {
    .atl-enpag-container {
        width: 100%;
    }
}



@media (max-width: 702px) {
    .display-flex {
        display: block;
    }
    .icon-ast  {
        width: 100%;
        display: inline-block;
    }
}
